<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>云消息</title>
        <link href="/static/css/cloud_message.css" rel="stylesheet">
        <style>

        </style>
    </head>

    <body>
        <input type="text" placeholder="User">
        <input type="text" placeholder="Password">
        <input type="text" placeholder="CloudMessage">
        <button id="submit">发送云消息</button>
        <div id="cloud_messages_from_server"></div>
        <script type="text/javascript" src="/static/js/jquery.js"></script>
        <script type="text/JavaScript" src="/static/js/cloud_message.js"></script>
    </body>

</html>