<!DOCTYPE html>
<html lang="zh_CN">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>云消息</title>
        <link href="/static/css/cloud_message.css" rel="stylesheet">
        <style>

        </style>
    </head>

    <body>
        <div id="HistoryDiv">
            
        </div>
        <div id="ControlDiv">
            <input type="text" placeholder="用户名" id="input_playername">
            <input type="text" placeholder="密码" id="input_password">
            <input type="text" placeholder="云消息" id="inputarea">
            <button id="submit">发送云消息</button>
        </div>
        <script type="text/javascript" src="/static/js/jquery.js"></script>
        <script type="text/JavaScript" src="/static/js/cloud_message.js"></script>
    </body>

</html>