<!DOCTYPE html>
<html lang="en">
<!-- https://codepen.io/danielkvist/pen/LYNVyPL -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>忘记密码</title>
  <link href="/static/css/forget_password.css" rel="stylesheet">
  <style>
  </style>
</head>
<body>
  <div class="container right-panel-active">
    <!-- Sign Up -->
    <div class="container__form container--signup">
      <form action="#" class="form" id="form1">
        <h2 class="form__title">Forgot your password?</h2>
        <input type="text" placeholder="name" class="input" />
        <input type="email" placeholder="Email" class="input" />
        <button class="btn" id="sendUsernamAndEmail" type="button">send</button>
      </form>
    </div>

    <!-- Overlay -->
    <div class="container__overlay">
      <div class="overlay">
        <div class="overlay__panel overlay--left">
        <button class="btn" id="signIn">Sign In/登录</button>
        </button>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/static/js/jquery.js"></script>
  <script type="text/JavaScript" src="/static/js/forget_password.js"></script>
</body>
</html>
